.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
    padding: 0.5rem;
    margin-top: 1rem;

    background-color: white;

    font-family: "Rubik";
}

.logoImageStyle {
    width: clamp(100px, 60%, 200px);
}

.h1Style {
    text-align: center;
    margin: 0;
}

.listWrapper > * {
    margin: 4px 0 0 0;
    padding: 0 1em;
}

.listWrapper > *:hover {
    background-color: cyan;
    color: white;

    transition: 500ms ease-in-out;
}

.diamondImageStyle {
    width: clamp(40px, 20%, 100px);  
}

.learnButton {
    background-color: blue;
    border-radius: 20%;
    border-width: 0;
    color: white;
    padding: 10px;
    font-weight: bold;
}